body {
    border: 0px;
    padding: 0px;
    margin: 0px;
    background: #FFF;
}

.canvas {
    border: 0px;
    padding: 0px;
    margin: 0px;
} 
canvas {
    display: block;
}

svg {
    display: block;
}

.menu {
    position: absolute;
    top: 0px; right: 0px;
    opacity: 0;
}

.menu:hover {
    opacity: 1;
}
